# Виртуальное окружение
.venv/
venv/

# Данные (не комитим в Git)
data_detection/
data_classification/

# Кэш Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Модели (опционально, если они большие)
notebooks/*.pt
notebooks/runs/
